<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style>
    a.tip {
        text-decoration: none
    }

    a.tip:hover {
        position: relative
    }

    a.tip span {
        display: none
    }

    a.tip:hover span {
        border: #c0c0c0 1px solid;
        padding: 5px;
        display: block;
        /* z-index: 100; */
        background: #f0f0f0 no-repeat 100% 5%;
        left: -4vw;
        bottom: 1.5vh;
        margin-bottom: 1.5vh;
        width: 200px;
        position: absolute;
        text-decoration: none
    }
</style>
<title>attSys | <%= title %></title>