<!-- navbar -->
<nav class="navbar sticky-top navbar-light bg-light d-flex justify-content-center p-3" style="cursor: pointer;"
    onclick="location.assign('/home');">
    <h1 class="fw-bold text-muted"> UOB-attSys </h1>
</nav>